<!DOCTYPE html><html><script>//	document.title = unescape(unescape(location.search.slice(7)));
   	var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?b262db657c18cd240348a1aa6dbe3578";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();</script><head><base target=_blank><meta charset=utf-8><meta name=baidu-site-verification content=s2FwhZojX9><meta name=viewport content="width=device-width,initial-scale=1"><meta name=keywords content=区块链资讯,区块链教程,区块链社区,18区><meta name=description content=新加坡18区——创建全球区块链社区的第一本“护照”，总部位于新加坡，旨在基于社区服务，将全球数字资产进行无障碍的快速流通，构建起区块链新世界的核心入口，并且为区块链新手小白准备了各类区块链新手知识。><title></title><link rel="Shortcut Icon" href=/static/eighteen.ico type=image/x-icon><link rel=stylesheet href=/static/default.css><link href=/static/css/app.0fbfe608da59a11b3694cd7c34e3adcf.css rel=stylesheet></head><body><div id=split-val-box style="display: inline-block; width: auto; float: left; position: absolute; z-index: -1; opacity: 0;"></div><div id=app></div><script>(function () {
        var html = document.documentElement;
        var hwidth = html.getBoundingClientRect().width;
        html.style.fontSize = (hwidth / 25 + "px")  //1rem 在ipone8下font-size=15px
        document.documentElement.addEventListener('touchstart', function (e) {
          if (e.touches.length > 1) {
            e.preventDefault();
          }
        }, false);
      })();</script><script type=text/javascript src=/static/js/manifest.9b68151197514e630a6a.js></script><script type=text/javascript src=/static/js/vendor.cd20f5f03f431f48ba0f.js></script><script type=text/javascript src=/static/js/app.991fd36bb0d0c2cf6feb.js></script></body></html>